@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
}

/* shared styles */
.container {
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}

p {
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-weight: 36px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.span {
    color: rgb(255, 84, 0);
}

/* navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 280px;
}

.logo img {
    width: 48px;
    height: 56px;
    margin-right: 0.5rem;
}

.nav-options {
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
}

.nav-options p {
    cursor: pointer;
}

/* banner styles */
.explore-your-travel {
    background-image: linear-gradient(180deg,
            rgba(19, 19, 24, 0.8) 0%,
            rgba(19, 19, 24, 0) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    padding: 7rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.explore-container h3 {
    font-size: 4rem;
    color: white;
    font-weight: 800;
}

.explore-container p {
    font-size: 18px;
    line-height: 26px;
    color: rgb(207, 206, 204);
    width: 676px;
    padding: 1.5rem 0;
    margin: auto;
}

.travel-inputs {
    margin-top: 2rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(4px);
}

input,
select {
    width: 175px;
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.btn-primary {
    width: 175px;
    height: 50px;
    background-color: rgb(255, 84, 0);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 0.7rem 1.2rem;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

/* popular styles */
.popular-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text-content p,
.text-content li {
    text-align: left;
    line-height: 24px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 16px;
}

.text-content p,
.text-content li,
.text-content h3 {
    text-align: left;
}

.image img {
    width: 100%;
}

/* destination styles  */
.row-1,
.row-2,
.row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}

.row-2 {
    grid-template-columns: 0.7fr 1fr 0.8fr;
}

.row-3 {
    grid-template-columns: 0.75fr 1.25fr;
}

.country-card {
    position: relative;
}

.country {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 28px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.country-card img {
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}